<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=ERICLIFS5A6B\SQLSERVER2008;Initial Catalog=GD1C2014;User ID=gd;Password=gd2014" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>